# (development / production)
NODE_ENV=development

# Directories
PUBLIC_DIR=/public
UPLOAD_DIR=/public/uploads

# Secret key used to sign JWT tokens
SECRET='mwjaykrb9qNKXwn5Lu36YGaar43IVZUB'

# mongoose-encryption keys
ENCRYPTION_32BYTE='WIxU3dxHLxP+IaZFI85yUj+rZB+4kQcxQmvGnqL4EXk=' // generated with: openssl rand -base64 32;
ENCRYPTION_64BYTE='G50HP5/Dh96BF2m4lWTL+Q8pDIuT8Rlrl2ngljKowwrBaZp2xhSsXRh3HNINA/8nFtuvvr8mB8Ykyxso3iQdJQ==' //generated with: openssl rand -base64 64;

# Key for data encryption
CRYPTR_KEY='4xe3UwDGNR'

# !! You don't need to change something below !!
# !! You don't need to change something below !!

# App host / port configuration
APP_HOST=localhost
APP_PORT=3000

# API default URL
API_URL='/api'

# Client app URL
CLIENT_ENDPOINT='http://localhost:4200'
